.container {
  display: flex;
  align-items: center;
  justify-content: center;
width:400px;
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 250px;
  min-height: 100px;
  padding: 15px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
.form-box {
  width: 380px;
  height: 450px;
  background-color: rgb(30, 231, 74);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  border-radius: 2%;
}
.header-form {
  margin-bottom: 15px;
}
button {
  margin-top: 40px;
  margin-bottom: 10px;
}
.message {
  display: flex;
  justify-content: space-between;
}
.social {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.social i {
  font-size: 35px;
}

.social i:hover {
  color: red;
  cursor: pointer;
}
