.Modal_container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: none;
  left: 0;
  top: 0;
  z-index: 99;
}
.Modal_content_container {
  display: flex;
  width: 80%;
  margin: 10% auto;
  
}
.cardContainerLogin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid gray;
  background-color: rgb(245, 233, 233);
  box-shadow: 0 1px 1px black;
}

.imageLogin {
  object-fit: cover;
}

.login_exitSection {
  align-self: flex-start;
  padding: 10px;
}
.login_exitbutton {
  background-color: transparent;
  border: none;
  font-size: 28px;
  font-family: "Courier New", Courier, monospace;
}
.login_titleHeading {
  font-size: 34px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(71, 187, 18);
}

.userLoginContainer {
  display: flex;
  flex-direction: column;
  color: rgb(68, 8, 233);
  font-size: 23px;
  padding: 9px;
  font-weight: bold;
}
.login_buttonSection {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  font-size: 32px;
  font-weight: bold;
  
}
