 .product-card {
     height: 450px;
     width: 430px;
     margin: 10px;
     border: 1px solid;
     border-color: rgb(212, 227, 233);
     
 }

 .cards {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     background-size: cover;
     justify-content: center;  
     
 }

 .card-title {
     font-size: 20px;
     font-weight: 600;
     padding-bottom: 130px;
     font-family: sans-serif;
 }

 .card-img-top {
     height: 280px;
     width: 350px;
     margin: 10px;
 }

 .image {
     display: flex;
     justify-content: center;
     transition: transform .2s;
     /* Animation */
     margin: 0 auto;
 }

 .product-container {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     padding-right: 25px;
     padding-top: 25px;
     font-size: 16px;
     color: #6f6f6f;
     font-family: sans-serif;
     font-weight: 500;
 }

 .image:hover {
     transform: scale(1.0);
 }