.filter-heading{
    font-weight: 700;
}
input[type=checkbox] {
    color:  #D19C97 !important;
    color: white;
    width:17px;
    height:17px;
  }
  input[type=checkbox]:checked:before {
    color: white !important;
}
input[type=checkbox]:checked:after{
  color: white !important;
}
.badge-span{
    color:#6c757d;
    padding: 4px;
    font-size:13px;
}