.footer-container{
    background-color: #edf1ff;
    font-family: poppins;
    padding-top: 80px !important;
}

.right-arrow{
    height: 13px;
    margin-right: 10px;
    margin-left: 0;
}

.pink-icon{
    height: 15px;
    fill: #d19c97;
    margin-right: 15px;
}

.shopper-heading{
    text-decoration: none;
    color: #1c1c1c;
}

.to-bold{
    font-weight: bold;
    font-size: 40px;
}

.e-special{
    color: #d19c97;
    border: 1px solid white;
    padding: 0px 15px;
    margin-right: 9px;
}

.footer-description{
    margin-top: 23px;
    font-size: 16px;
}

.quick-heading{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-link{
    margin-bottom: 9px;
    text-decoration: none;
    color: #1c1c1c;
}

.footer-input-field{
    width: 100%;
    border: none;
    outline: none;
    height: 55px;
    padding-left: 12px;
    margin-bottom: 18px;
}

.footer-button{
    width: 100%;
    height: 55px;
    border: none;
    background-color: #d19c97;
    transition: all 0.2s;
}

.footer-button:hover{
    color: white;
    background-color: #cf7171;
}

.footer-link:hover{
    text-decoration: underline;
    color: #1c1c1c;
}

.shopper-heading:hover{
    color: #1c1c1c;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(182, 172, 172);
  }